name: "Quick build test"

on:
  push:
  pull_request:
    branches: [ master ]

jobs:
  quick-build-test:
    runs-on: "ubuntu-latest"

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: go.mod

    - name: Set up Bun
      uses: oven-sh/setup-bun@v1
      with:
        bun-version: latest

    - name: "Build"
      run: "make build"

    - name: Upload artifact
      if: ${{ !env.ACT }}
      uses: actions/upload-artifact@v4
      with:
        name: gotty-linux-amd64
        path: gotty